.chat-main
  .chat-main__group-info
    .top-info
      .top-info__leftbox
        .top-info__leftbox--title
          = @group.name
        .top-info__leftbox--member
          Member:
          %ul 
            - @group.users.each do |user|
              %li= user.name
      = link_to edit_group_path(@group), class: "top-info__edit" do
        Edit
  .chat-main__message-list
    .main-message
      = render @messages
    

  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        .form__input
          = f.text_field :body, class: "form__input--text", placeholder: "type a message"
          = f.label :image, class: "form__input--image" do
            = icon('fas', 'image')
            = f.file_field :image, class: "form__input--file"
        = f.submit 'Send', class: "form__submit-btn"